<template name="layout">
	
	<div id="wrapper">
		
		<header id="header">
			<div>
				{{> loginButtons}}
			</div>

			<div>		
				<img src="{{currentUser.customize.logo}}" height="50" width="50" />
				<span>{{#if currentUser}}{{currentUser.customize.title}}{{else}}Order Client{{/if}}</span>
			</div>

			<div>
				{{#if currentUser}}
					{{#each buttons}}
						<a href={{href}}>{{name}}</a>
					{{/each}}
				{{/if}}
			</div>
		</header>

		<main id="main">
			{{> yield}}
		</main>

		<footer id="footer"></footer>

	</div>

</template>