@import '../variables.less';

* {
	margin: 0;
	padding: 0;

	font-size: 16px;
	font-weight: lighter;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

html, body {
	width: 100%;
	height: 100%;
}

#wrapper {
	width: @wrapper-width;
	height: @wrapper-height;

	position: absolute;
	top: calc(~"(100% - " @wrapper-height ~") /2"); 
	left: calc(~"(100% - " @wrapper-width ~") /2"); 
}

#header {
	width: 100%;
	height: @header-height;

	line-height: @header-height;
	padding: @header-padding;

	display: flex;
	justify-content: space-between;

	background-color: @header-backgroundColor;
}

#header > div {
	width: 33%;
	text-align: center;

	&:first-of-type {
		text-align: left;
	}

	&:nth-of-type(2) {
		display: flex;
		justify-content: center;

		& img {
			margin-right: 15px;
		}
	}

	&:last-of-type {
		text-align: right;

		a {
			margin-right: 20px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

#main {
	width: 100%;
	height: calc(~"100% -" @header-height);

	padding: @main-padding;
	background-color: @main-backgroundColor;

	& > div {
		width: 100%;
		height: 100%;

		overflow-y: auto;
	}
}