
/*----------*\
		layout
\*----------*/

@wrapper-width: 96%;
@wrapper-height: 96%;

@header-height: 50px;
@header-padding: 0 20px;
@header-backgroundColor: #BDBDBD;


@main-padding: 20px;
@main-backgroundColor: #EEEEEE;



/*-------------*\
		dashboard
\*-------------*/

@dashboard-search-width: 100%;
@dashboard-search-height: 40px;

@dashboard-search-input-padding: 0 10px;
@dashboard-search-input-fontSize: 18px;

@dashboard-margin: 25px;

@dashboard-order-height: 36px;
@dashboard-order-padding: 0 10px;
@dashboard-order-margin: 0 0 10px 0;
@dashboard-order-backgroundColor: #F5F5F5;
@dashboard-order-border: 1px solid #BDBDBD;




/*-------------*\
		settings
\*-------------*/



/* ---------- *\

		$general

\* ---------- */
@color-red: #EF5350;
@color-black: #212121;
@color-grey: rgb(221, 221, 221);

@input-height: 28px;
@input-width: 200px;
@input-paddingRightAndLeft: 8px;
@input-borderRadius: 3px;
@input-borderColor: rgba(0,0,0,0.4);

@checkbox-size: 20px;

@border-color: #212121;




/* ---------- *\

		$forms

\* ---------- */
@helpBlock-height: 15px;

@helpBlock-panel-marginTop: 20px;
@helpBlock-button-marginTop: 10px;





/* ---------- *\

		$tables

\* ---------- */
@table-header-height: 50px;
@table-header-marginTop: 25px;

@table-row-height: @input-height;