<template name="settings">
	
	<div id="settings">
		
		<h1>Settings</h1>

		<form id="fileupload">
			<div class="table">
				<div class="table-row">
					<div class="table-row-item"><label>Menu as file <a href="{{doc.fileUrl}}" target="_blank">[{{#if doc.fileUrl}}show current menu{{else}}no menu set{{/if}}]</a></label></div>
					<div class="table-row-item"><input type="file" name="file" required/></div>
				</div>
			</div>
		</form>

		{{> quickForm collection=collection doc=doc id=id omitFields=omit type="method" meteormethod="updateProfile" validation="none" buttonContent="update"}}
		
	</div>

</template>