#settings {

	#fileupload {
		margin-top: 15px;
	}

	.table {
		width: 100%;
		margin: 0;
	}

	.autoform-remove-item, .autoform-add-item {
		height: 18px;
		width: 18px;
		padding: 0;
	}

	.autoform-remove-item::after {
		content: '-'
	}

	.autoform-add-item::after {
		content: '+'
	}

	.panel {
		margin-top: 25px;
	}

	#settingsUpdateForm > .panel > .panel-heading {
		display: none;
	}

	button[type="submit"] {
		margin-top: 25px;
		padding: 5px 10px;
	}

	li {
		list-style: none;
	}

}