@import '../../variables.less';

form {

	.form-group {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		label, span {
			height: @input-height;
			line-height: @input-height;
			width: 70%;
		}

		input {
			width: 30%;
		}

		.checkbox {
			height: @input-height;
			width: 100%;

			line-height: @input-height;

			input {
				vertical-align: middle;
				width: @checkbox-size;
			}
		}

		.help-block {
			width: 100%;
			height: @helpBlock-height;

			line-height: @helpBlock-height;
			text-align: right;
			
			color: @color-red;
		}
	}

	& > .form-group:last-of-type{
		margin-top: @helpBlock-button-marginTop;
		justify-content: space-around;
	}

	.panel {
		margin-top: @helpBlock-panel-marginTop;
	}

	.panel-heading {
		font-size: 22px;
		margin-bottom: 5px;
	}

	
	// disable warning of the title
	.panel-body > .help-block {
		display: none;
	}

}