<template name="stats">
	
	<div id="stats">

		<h1>Stats</h1>

		<div class="table">
			<div class="table-header">Today</div>
			<div class="table-row">
				<div class="table-row-item">Menu</div>
				<div class="table-row-item">Sold</div>
			</div>
			{{#each menu}}
				<div class="table-row">
					<div class="table-row-item">{{name}}</div>
					<div class="table-row-item">{{findTodaysMenu name}} / {{amount}}</div>
				</div>
			{{/each}}
			<div class="table-row">
				<div class="table-row-item">Total</div>
				<div class="table-row-item">{{todaysOrders.count}}</div>
			</div>

			<br />

			<div class="table-header">Total Time</div>
			<div class="table-row">
				<div class="table-row-item">Menu</div>
				<div class="table-row-item">Sold</div>
			</div>
			{{#each menu}}
				<div class="table-row">
					<div class="table-row-item">{{name}}</div>
					<div class="table-row-item">{{findAllMenu name}}</div>
				</div>
			{{/each}}
			<div class="table-row">
				<div class="table-row-item">Total</div>
				<div class="table-row-item">{{allOrders.count}}</div>
			</div>
		</div>

	</div>

</template>