<template name="customize">

	<div id="customize">
		
		<h1>Customize</h1>

		<form id="fileupload">
			<div class="table">
				<div class="table-row">
					<div class="table-row-item"><label>Logo <a href="{{doc.customize.logo}}" target="_blank">[{{#if doc.customize.logo}}show current logo{{else}}no logo set{{/if}}]</a></label></div>
					<div class="table-row-item"><input type="file" name="file" required/></div>
				</div>
			</div>
		</form>

		{{> quickForm collection=collection doc=doc id=id omitFields=omit type="method" meteormethod="updateLogo" validation="none" buttonContent="update"}}

	</div>

</template>