<template name="dashboard">
	
	<div id="dashboard">
		
		<form id="search">
			<input type="text" placeholder="search" autocomplete="off" />
		</form>

		<section id="orders">
			<!--<input type="text" id="input" />
			<button id="button">SEND QUERY</button>-->
			
			{{#each orders.get}}
				<div class="order">
					<div>{{firstName}} {{lastName}}</div>
					<div>Menü: {{menu}}</div>
				</div>
			{{/each}}
		</section>
	
	</div>
	
</template>