@import '../../variables.less';

#dashboard {

	height: 100%;
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	#search {
		width: @dashboard-search-width;
		height: @dashboard-search-height;

		input {
			width: 100%;
			height: 100%;

			padding: @dashboard-search-input-padding;
			font-size: @dashboard-search-input-fontSize;
		}
	}

	#orders {
		height: calc(~"100% - " @dashboard-search-height ~"-" @dashboard-margin);
		overflow-y: auto;

		.order {
			width: 100%;
			height: @dashboard-order-height;

			display: flex;
			justify-content: space-between;

			line-height: @dashboard-order-height;
			padding: @dashboard-order-padding;

			background-color: @dashboard-order-backgroundColor;
			border: @dashboard-order-border;

			margin: @dashboard-order-margin;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}